# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# ========================
# Virtual Environment
# ========================
venv/
.env/

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db

# ========================
# Jupyter
# ========================
.ipynb_checkpoints/

# ========================
# Logs & Temp files
# ========================
*.log
logs/


